@font-face {
    font-family: 'Bebas';
    src: url('fonts/BebasNeue-Regular.ttf');
}

body,html{
    padding: 0;
    margin: 0;
    background-color: #060CE9;
    height: 100%;
    width: 100%;
    font-family: 'Bebas', sans-serif;
}

.mygrid{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows:  repeat(5, 20%);
    
    /* gap: 10px; */
    /* border: 5px solid black; */
    height: 100%;
}

.category{
    color: white;
    border: 3px solid black;
    border-bottom: 9px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40pt;
}

.money{
    font-size: 63pt;
    color: #dab522;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    text-shadow: 4px 5px 2px black;
}