@font-face {
    font-family: 'Bebas';
    src: url('fonts/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'ITC';
    src: url('fonts/ITC_\ Korinna\ Normal.ttf');
}

body,html{
    padding: 0;
    margin: 0;
    background-color: #060b94;
    height: 100%;
    width: 100%;
}

.mygrid{
    font-family: 'Bebas', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows:  repeat(5, 20%);
    /* border: 5px solid black; */
    height: 100%;
}

.category{
    color: white;
    border: 3px solid black;
    border-bottom: 9px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40pt;
}

.money{
    font-size: 63pt;
    color: #dab522;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    text-shadow: 4px 5px 2px black;
}
.money a{
    color: #dab522;
    text-decoration: none;
}
.money a:hover{
    text-decoration: underline;
}

.topics{
    /* border: 2px solid pink; */
    position: absolute;
    left:50%;
    transform: translate(-50%);
    text-align: center;

    color: white;
    font-family: 'Bebas', sans-serif;
    font-size: 130%;
}

.topics a{
    color: rgb(255, 0, 0);
}

.passwordplease{
    color: white;
    font-family: 'ITC', sans-serif;
    margin: auto;
    width: 70%;
    font-size: 4em;
    text-shadow: 4px 5px 2px black;

    display: flex;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.passwordplease a{
    color: red;
}